In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("IRIS.csv")

In [5]:
df.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [6]:
df = df.replace(to_replace="Iris-setosa", value="1")
df = df.replace(to_replace="Iris-virginica", value="2")
df = df.replace(to_replace="Iris-versicolor", value="3")

In [7]:
df

     sepal_length  sepal_width  petal_length  petal_width species
0             5.1          3.5           1.4          0.2       1
1             4.9          3.0           1.4          0.2       1
2             4.7          3.2           1.3          0.2       1
3             4.6          3.1           1.5          0.2       1
4             5.0          3.6           1.4          0.2       1
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [19]:
count = df.groupby('species').size()['1']
count = df.groupby('species').size()['2']
count = df.groupby('species').size()['3']

In [20]:
print(f"The number of Setosas is: {count}")
print(f"The number of Verginica is: {count}")
print(f"The number of Versicolor is: {count}")

The number of Setosas is: 50
The number of Verginica is: 50
The number of Versicolor is: 50

In [21]:
count = df['species'].value_counts()['1']

In [22]:
count

50

In [29]:
setosadf=df[df['species'] == '1']

In [30]:
versidf=df[df['species'] == '3']

In [31]:
virgindf=df[df['species'] == '2']

In [32]:
from sklearn.model_selection import train_test_split

In [35]:
str,stt=train_test_split(setosadf,test_size=0.2)

In [40]:
vtr,vtt=train_test_split(virgindf,test_size=0.2)

In [41]:
vertr,vertt=train_test_split(versidf,test_size=0.2)

In [42]:
train1 = pd.concat([str,vtr], ignore_index=True)

In [43]:
test1 = pd.concat([stt,vtt], ignore_index=True)

In [44]:
train = pd.concat([train1,vertr], ignore_index=True)

In [45]:
test = pd.concat([test1,vertt], ignore_index=True)

In [46]:
train1

    sepal_length  sepal_width  petal_length  petal_width species
0            5.7          4.4           1.5          0.4       1
1            5.7          3.8           1.7          0.3       1
2            4.3          3.0           1.1          0.1       1
3            5.1          3.4           1.5          0.2       1
4            4.8          3.0           1.4          0.1       1
..           ...          ...           ...          ...     ...
75           6.4          2.8           5.6          2.2       2
76           6.9          3.1           5.1          2.3       2
77           7.9          3.8           6.4          2.0       2
78           6.2          3.4           5.4          2.3       2
79           7.2          3.6           6.1          2.5       2

[80 rows x 5 columns]

In [47]:
train

     sepal_length  sepal_width  petal_length  petal_width species
0             5.7          4.4           1.5          0.4       1
1             5.7          3.8           1.7          0.3       1
2             4.3          3.0           1.1          0.1       1
3             5.1          3.4           1.5          0.2       1
4             4.8          3.0           1.4          0.1       1
..            ...          ...           ...          ...     ...
115           5.5          2.5           4.0          1.3       3
116           5.9          3.0           4.2          1.5       3
117           5.7          2.9           4.2          1.3       3
118           5.8          2.7           4.1          1.0       3
119           6.7          3.1           4.7          1.5       3

[120 rows x 5 columns]

In [48]:
test

    sepal_length  sepal_width  petal_length  petal_width species
0            5.0          3.4           1.5          0.2       1
1            4.8          3.4           1.9          0.2       1
2            5.1          3.8           1.6          0.2       1
3            5.1          3.7           1.5          0.4       1
4            4.5          2.3           1.3          0.3       1
5            5.4          3.9           1.7          0.4       1
6            5.4          3.4           1.7          0.2       1
7            5.2          3.5           1.5          0.2       1
8            5.0          3.5           1.6          0.6       1
9            5.4          3.4           1.5          0.4       1
10           7.3          2.9           6.3          1.8       2
11           6.4          2.7           5.3          1.9       2
12           6.0          2.2           5.0          1.5       2
13           5.9          3.0           5.1          1.8       2
14           7.4          2.8           6.1          1.9       2
15           6.5          3.0           5.8          2.2       2
16           6.3          2.8           5.1          1.5       2
17           6.7          3.3           5.7          2.5       2
18           7.7          3.0           6.1          2.3       2
19           5.8          2.8           5.1          2.4       2
20           6.1          2.8           4.0          1.3       3
21           5.5          2.3           4.0          1.3       3
22           4.9          2.4           3.3          1.0       3
23           5.7          2.8           4.1          1.3       3
24           6.0          2.9           4.5          1.5       3
25           5.0          2.0           3.5          1.0       3
26           5.0          2.3           3.3          1.0       3
27           6.8          2.8           4.8          1.4       3
28           5.7          3.0           4.2          1.2       3
29           6.3          2.3           4.4          1.3       3